In [1]:
# import the dependency
import pandas as pd
import numpy as np

In [2]:
# files for our analysis
file1 = "cre_stats_data.csv"
file2 = 'labor_data.csv'

In [3]:
# load the labor file
labor_data = pd.read_csv(file2)
labor_data.head()

,MSA,MSA Name,2001 Jobs,2002 Jobs,2003 Jobs,2004 Jobs,2005 Jobs,2006 Jobs,2007 Jobs,2008 Jobs,...,2028 Location Quotient,2029 Location Quotient,Age 45-54 % of Region,Age 14-18 % of Region,Age 19-21 % of Region,Age 22-24 % of Region,Age 25-34 % of Region,Age 35-44 % of Region,Age 55-64 % of Region,Age 65+ % of Region
0,35620,"New York-Newark-Jersey City, NY-NJ-PA",341351.923981,331989.441630,328235.533477,327854.161053,329210.188139,330215.030588,335000.980810,331294.867665,...,0.898985,0.897536,0.198594,0.020354,0.067333,0.085291,0.245226,0.187936,0.148148,0.047121
1,31080,"Los Angeles-Long Beach-Anaheim, CA",308832.247945,302561.185043,295121.609903,296917.665708,303190.252877,308991.792593,305598.619837,296033.603838,...,1.120333,1.117481,0.198321,0.014933,0.068881,0.085499,0.250735,0.200111,0.136229,0.045288
2,16980,"Chicago-Naperville-Elgin, IL-IN-WI",257587.748539,247920.850153,244149.724359,246288.482485,250022.755191,254970.189488,257803.911532,253471.031632,...,1.422678,1.423138,0.188951,0.029103,0.078967,0.085330,0.235536,0.189520,0.144756,0.047842
3,19100,"Dallas-Fort Worth-Arlington, TX",142986.323034,136961.350132,132569.110466,135288.003375,139858.373893,144705.079063,147249.136147,148162.286036,...,1.180633,1.180581,0.190785,0.026388,0.081579,0.087528,0.244737,0.199421,0.129211,0.040356
4,37980,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",121049.071284,117839.928018,118305.948225,119012.113767,119791.365177,121129.814163,121416.049783,120652.504806,...,1.007304,1.005578,0.191427,0.026768,0.077599,0.089332,0.240355,0.174473,0.154082,0.045964

In [4]:
# load the cre state data 
cre_stats = pd.read_csv(file1)
cre_stats.head()

/anaconda3/envs/PythonData/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (37,40) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Property Class Name,Period,Slice,As Of,Geography Name,Property Type,Geography Code,Forecast Scenario,CBSA Code,Geography Type,...,Median Household Income,Total Employment,Households,Industrial Employment,Transaction Cap Rate,# Transaction Cap Rate,Transaction PricePerArea,Total Sales Volume,# Sales Volume,Sold Building SF
0,Industrial,1981 Q4,All,2019 Q3,Abilene - TX,IND,G41554,Oxford Economics Baseline,10180.0,Metro,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Industrial,1982 Q1,All,2019 Q3,Abilene - TX,IND,G41554,Oxford Economics Baseline,10180.0,Metro,...,NaN,NaN,"50,890",NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Industrial,1982 Q2,All,2019 Q3,Abilene - TX,IND,G41554,Oxford Economics Baseline,10180.0,Metro,...,NaN,NaN,"51,427",NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Industrial,1982 Q3,All,2019 Q3,Abilene - TX,IND,G41554,Oxford Economics Baseline,10180.0,Metro,...,NaN,NaN,"51,962",NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Industrial,1982 Q4,All,2019 Q3,Abilene - TX,IND,G41554,Oxford Economics Baseline,10180.0,Metro,...,NaN,NaN,"52,271",NaN,NaN,NaN,NaN,NaN,NaN,NaN

# add the MSA, MSA name to the local data ( use as primary keys to joint later)

In [5]:
# to get the city and state data
city_state = cre_stats['Geography Name'].to_list()

'Ann Arbor '

In [7]:
# split the city and state data to city and state
# list of cities
import re
city_list= []

for i in city_state:
    k = re.split(" - ", i)[0].split('-')[0]
    city_list.append(k)

In [8]:
# list of states
state_list = []
for i in city_state:
    k = i.split(' ')[-1]
    state_list.append(k)

In [13]:
# get msa city and state data from MSA NAME and create list of  citiea and list of states

MSA_name = labor_data['MSA Name']
MSA = labor_data['MSA']
MSA_city =[]
MSA_state = []
for i in MSA_name:
    MSA_city.append(i.split(",")[0])
    MSA_state.append(i.split(",")[1])

In [14]:
# MSA city list from the labor data

MSA_city_list = []
for i in MSA_city:
    MSA_city_list.append(i.split("-"))

In [86]:
# MSA state list from the labor data

MSA_state_list =[]


for i in MSA_state:
    MSA_state_list.append(i.split(' ')[1].split('-'))

In [17]:
# assign the lenth of labor data to a variable
ml = len(MSA_state_list)

In [18]:
# assign the lenth of cre state data to a variable
cl = len(city_list)

In [20]:
# looping throught city/state in cre state data and assiagn MSA number and MSA name for each city/state

a = [[]]*cl
b = [[]]*cl

for i in np.arange(cl):
    for j in np.arange(ml):
        if city_list[i] in MSA_city_list[j] and state_list[i] in MSA_state_list[j]:
            a[i] = MSA_name[j]
            b[i] = MSA[j]
        elif city_list[i]=='Boise' and state_list[i]=='ID':
            a[i] = 'Boise City, ID'
            b[i] = 14260
        elif city_list[i]=='Honolulu' and state_list[i]=='HI':
            a[i] = 'Urban Honolulu, HI'
            b[i] = 46520
        elif city_list[i]=='Lake Havasu' and state_list[i]=='AZ':
            a[i] = 'Lake Havasu City-Kingman, AZ'
            b[i] = 29420
        elif city_list[i]=='Lake Havasu' and state_list[i]=='AZ':
            a[i] = 'Lake Havasu City-Kingman, AZ'
            b[i] = 29420
        elif city_list[i]=='Long Island' and state_list[i]=='NY':
            a[i] = 'New York-Newwark-Jersey City, NY-NJ-PA'
            b[i] = 35620
        elif city_list[i]=='Louisville' and state_list[i]=='KY':
            a[i] = 'Louisville/Jefferson County, KY-IN'
            b[i] = 31140
        elif city_list[i]=='Northern Jersey City' and state_list[i]=='NJ':
            a[i] = 'New York-Newwark-Jersey City, NY-NJ-PA'
            b[i] = 35620
        elif city_list[i]=='Palm Spring' and state_list[i]=='FL':
            a[i] = 'Miami_Fort Lauderdale-Pompano, FL'
            b[i] = 33100
        elif city_list[i]=='Saint Louis' and state_list[i]=='MO':
            a[i] = 'St. Louis, MO-IL'
            b[i] = 41180

In [21]:
# create two coloum in cre state data for MSA NAME and MSA
cre_stats["MSA Name"]= a
cre_stats["MSA"]= b

In [22]:
# rearrange the columns and assign to a new data frame new_cres_stats

new_cres_stats = cre_stats[["MSA", "MSA Name", 'Property Class Name', 'Period', 'Slice', 'As Of', 'Geography Name',
                           'Property Type', 'Geography Code','Forecast Scenario', 'CBSA Code','Geography Type',
                           'Stock', 'Vacancy','Occupancy','Asking Rent','Asking Rent Index',
                           'Rent Growth','Rent Growth 12 Month','Demand','Net Absorption','Net Absorption 12 Months',
                           'Net Completions 12 Months','Cap Rate','Total Return',
 'Appreciation Return',
 'Income Return',
 'NOI Index',
 'Capital Value Index',
 'Price Index',
 'Price Growth',
 'Market Capitalization',
 'Office Employment',
 'Population',
 'Median Household Income',
 'Total Employment ',
 'Households',
 'Industrial Employment',
 'Transaction Cap Rate',
 '# Transaction Cap Rate',
 'Transaction PricePerArea',
 'Total Sales Volume',
 '# Sales Volume',
 'Sold Building SF',]]

In [23]:
# checking the dataframe
new_cres_stats.head()

,MSA,MSA Name,Property Class Name,Period,Slice,As Of,Geography Name,Property Type,Geography Code,Forecast Scenario,...,Median Household Income,Total Employment,Households,Industrial Employment,Transaction Cap Rate,# Transaction Cap Rate,Transaction PricePerArea,Total Sales Volume,# Sales Volume,Sold Building SF
0,10180,"Abilene, TX",Industrial,1981 Q4,All,2019 Q3,Abilene - TX,IND,G41554,Oxford Economics Baseline,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10180,"Abilene, TX",Industrial,1982 Q1,All,2019 Q3,Abilene - TX,IND,G41554,Oxford Economics Baseline,...,NaN,NaN,"50,890",NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10180,"Abilene, TX",Industrial,1982 Q2,All,2019 Q3,Abilene - TX,IND,G41554,Oxford Economics Baseline,...,NaN,NaN,"51,427",NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10180,"Abilene, TX",Industrial,1982 Q3,All,2019 Q3,Abilene - TX,IND,G41554,Oxford Economics Baseline,...,NaN,NaN,"51,962",NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10180,"Abilene, TX",Industrial,1982 Q4,All,2019 Q3,Abilene - TX,IND,G41554,Oxford Economics Baseline,...,NaN,NaN,"52,271",NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
# store into csv file
new_cres_stats.to_csv('new_cre_stats_data2.csv')

One of the challenges of uniting the two files was that the CRE Stats file had the time series data in rows but the Labor file had the time series data in columns and we wanted the final file to have the same format as the CRE Stats file. After much discussion, the team used Excel to investigate how to go about converting the Labor Data file into the CRE Stats format. We developed an intermediary list of dates and columns that corresponded to the data columns in the Labor data file. This intermediary list allowed us to build a nested vlookup function that simultaneously searched on both the MSA code and the year of data to pull the proper data in. This gave us a clean file to work with.

In [66]:
# the file we create from excel

file3 = "new_cre_stats_final_labor_columns.csv"

In [67]:
# read the table

cre_stats_labor = pd.read_csv(file3)
cre_stats_labor.head()

/anaconda3/envs/PythonData/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (1,43,46) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,ID,MSA,MSA Name,Property Class Name,Period,Qtr,Yr,Yr Lookup,Slice,As Of,...,Location Quotient,Age 45-54 % of Region,Age 14-18 % of Region,Age 19-21 % of Region,Age 22-24 % of Region,Age 25-34 % of Region,Age 35-44 % of Region,Age 55-64 % of Region,Age 65+ % of Region,Unnamed: 59
0,0,10180,"Abilene, TX",Industrial,1981 Q4,4,1981.0,NaN,All,2019 Q3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,10180,"Abilene, TX",Industrial,1982 Q1,1,NaN,NaN,All,2019 Q3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,10180,"Abilene, TX",Industrial,1982 Q2,2,NaN,NaN,All,2019 Q3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,10180,"Abilene, TX",Industrial,1982 Q3,3,NaN,NaN,All,2019 Q3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,10180,"Abilene, TX",Industrial,1982 Q4,4,1982.0,NaN,All,2019 Q3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [68]:
# take only q4 rows (Q4 in "Period") and create a new data frame
cre_stats_labor2 = cre_stats_labor[cre_stats_labor.Period.str[6] == '4']
cre_stats_labor2.head()

,ID,MSA,MSA Name,Property Class Name,Period,Qtr,Yr,Yr Lookup,Slice,As Of,...,Location Quotient,Age 45-54 % of Region,Age 14-18 % of Region,Age 19-21 % of Region,Age 22-24 % of Region,Age 25-34 % of Region,Age 35-44 % of Region,Age 55-64 % of Region,Age 65+ % of Region,Unnamed: 59
0,0,10180,"Abilene, TX",Industrial,1981 Q4,4,1981.0,NaN,All,2019 Q3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,10180,"Abilene, TX",Industrial,1982 Q4,4,1982.0,NaN,All,2019 Q3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,8,10180,"Abilene, TX",Industrial,1983 Q4,4,1983.0,NaN,All,2019 Q3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,12,10180,"Abilene, TX",Industrial,1984 Q4,4,1984.0,NaN,All,2019 Q3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,16,10180,"Abilene, TX",Industrial,1985 Q4,4,1985.0,NaN,All,2019 Q3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [69]:
# creat year column
year_q = cre_stats_labor2['Period'].to_list()
year_list = []
for i in year_q:
    year_list.append(i.split(' ')[0])

In [70]:
# assign the year list to a new column

cre_stats_labor2['year'] = year_list

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [71]:
# take "United States of America" rows out, create a new dataframe new_cres_stats3
cre_stats_labor2 = cre_stats_labor2[cre_stats_labor2['Geography Name'] != "United States of America"]
cre_stats_labor2.to_csv('cre_stats_labor2.csv')

In [72]:
# list the names of all the columns
list(cre_stats_labor2.columns)

['ID',
 'MSA',
 'MSA Name',
 'Property Class Name',
 'Period',
 'Qtr',
 'Yr',
 'Yr Lookup',
 'Slice',
 'As Of',
 'Geography Name',
 'Property Type',
 'Geography Code',
 'Forecast Scenario',
 'CBSA Code',
 'Geography Type',
 'Stock',
 'Vacancy',
 'Occupancy',
 'Asking Rent',
 'Asking Rent Index',
 'Rent Growth',
 'Rent Growth 12 Month',
 'Demand',
 'Net Absorption',
 'Net Absorption 12 Months',
 'Net Completions 12 Months',
 'Cap Rate',
 'Total Return',
 'Appreciation Return',
 'Income Return',
 'NOI Index',
 'Capital Value Index',
 'Price Index',
 'Price Growth',
 'Market Capitalization',
 'Office Employment',
 'Population',
 'Median Household Income',
 'Total Employment ',
 'Households',
 'Industrial Employment',
 'Transaction Cap Rate',
 '# Transaction Cap Rate',
 'Transaction PricePerArea',
 'Total Sales Volume',
 '# Sales Volume',
 'Sold Building SF',
 'Job',
 'Resident Workers',
 'Location Quotient',
 'Age 45-54 % of Region',
 'Age 14-18 % of Region',
 'Age 19-21 % of Region',
 'Age 22-24 % of Region',
 'Age 25-34 % of Region',
 'Age 35-44 % of Region',
 'Age 55-64 % of Region',
 'Age 65+ % of Region',
 'Unnamed: 59',
 'year']

In [73]:
# rearrange the columns

cre_stats_labor2 = cre_stats_labor2[['ID',
 'MSA',
 'MSA Name',
 'Property Class Name',
'year','Period',
 'Qtr',
 'Yr',
 'Yr Lookup',
 'Slice',
 'As Of',
 'Geography Name',
 'Property Type',
 'Geography Code',
 'Forecast Scenario',
 'CBSA Code',
 'Geography Type',
 'Stock',
 'Vacancy',
 'Occupancy',
 'Asking Rent',
 'Asking Rent Index',
 'Rent Growth',
 'Rent Growth 12 Month',
 'Demand',
 'Net Absorption',
 'Net Absorption 12 Months',
 'Net Completions 12 Months',
 'Cap Rate',
 'Total Return',
 'Appreciation Return',
 'Income Return',
 'NOI Index',
 'Capital Value Index',
 'Price Index',
 'Price Growth',
 'Market Capitalization',
 'Office Employment',
 'Population',
 'Median Household Income',
 'Total Employment ',
 'Households',
 'Industrial Employment',
 'Transaction Cap Rate',
 '# Transaction Cap Rate',
 'Transaction PricePerArea',
 'Total Sales Volume',
 '# Sales Volume',
 'Sold Building SF',
 'Job',
 'Resident Workers',
 'Location Quotient',
 'Age 45-54 % of Region',
 'Age 14-18 % of Region',
 'Age 19-21 % of Region',
 'Age 22-24 % of Region',
 'Age 25-34 % of Region',
 'Age 35-44 % of Region',
 'Age 55-64 % of Region',
 'Age 65+ % of Region',
 'Unnamed: 59']]

In [74]:
# save to csv
cre_stats_labor2.to_csv('cre_stats_labor2.csv')

In [75]:
# read the table
cre_stats_labor2 = pd.read_csv('cre_stats_labor2.csv')

In [80]:
# drop the unwanted columns and assign to a new data frame
cre_stats_labor3 = cre_stats_labor2.drop(['ID', 'Yr Lookup', 'Slice', 'Unnamed: 59'], axis = 1)

In [81]:
cre_stats_labor3.reset_index()

,index,Unnamed: 0,MSA,MSA Name,Property Class Name,year,Period,Qtr,Yr,As Of,...,Resident Workers,Location Quotient,Age 45-54 % of Region,Age 14-18 % of Region,Age 19-21 % of Region,Age 22-24 % of Region,Age 25-34 % of Region,Age 35-44 % of Region,Age 55-64 % of Region,Age 65+ % of Region
0,0,0,10180,"Abilene, TX",Industrial,1981,1981 Q4,4,1981,2019 Q3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,4,10180,"Abilene, TX",Industrial,1982,1982 Q4,4,1982,2019 Q3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,8,10180,"Abilene, TX",Industrial,1983,1983 Q4,4,1983,2019 Q3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,12,10180,"Abilene, TX",Industrial,1984,1984 Q4,4,1984,2019 Q3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,16,10180,"Abilene, TX",Industrial,1985,1985 Q4,4,1985,2019 Q3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,5,20,10180,"Abilene, TX",Industrial,1986,1986 Q4,4,1986,2019 Q3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,6,24,10180,"Abilene, TX",Industrial,1987,1987 Q4,4,1987,2019 Q3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,7,28,10180,"Abilene, TX",Industrial,1988,1988 Q4,4,1988,2019 Q3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,8,32,10180,"Abilene, TX",Industrial,1989,1989 Q4,4,1989,2019 Q3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,9,36,10180,"Abilene, TX",Industrial,1990,1990 Q4,4,1990,2019 Q3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,10,40,10180,"Abilene, TX",Industrial,1991,1991 Q4,4,1991,2019 Q3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,11,44,10180,"Abilene, TX",Industrial,1992,1992 Q4,4,1992,2019 Q3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,12,48,10180,"Abilene, TX",Industrial,1993,1993 Q4,4,1993,2019 Q3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,13,52,10180,"Abilene, TX",Industrial,1994,1994 Q4,4,1994,2019 Q3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,14,56,10180,"Abilene, TX",Industrial,1995,1995 Q4,4,1995,2019 Q3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,15,60,10180,"Abilene, TX",Industrial,1996,1996 Q4,4,1996,2019 Q3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,16,64,10180,"Abilene, TX",Industrial,1997,1997 Q4,4,1997,2019 Q3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,17,68,10180,"Abilene, TX",Industrial,1998,1998 Q4,4,1998,2019 Q3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,18,72,10180,"Abilene, TX",Industrial,1999,1999 Q4,4,1999,2019 Q3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,19,76,10180,"Abilene, TX",Industrial,2000,2000 Q4,4,2000,2019 Q3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,20,80,10180,"Abilene, TX",Industrial,2001,2001 Q4,4,2001,2019 Q3,...,2032.333371,0.639307,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,21,84,10180,"Abilene, TX",Industrial,2002,2002 Q4,4,2002,2019 Q3,...,2002.977813,0.641743,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,22,88,10180,"Abilene, TX",Industrial,2003,2003 Q4,4,2003,2019 Q3,...,1983.574047,0.647971,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,23,92,10180,"Abilene, TX",Industrial,2004,2004 Q4,4,2004,2019 Q3,...,2061.346564,0.651612,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,24,96,10180,"Abilene, TX",Industrial,2005,2005 Q4,4,2005,2019 Q3,...,2077.471380,0.642872,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,25,100,10180,"Abilene, TX",Industrial,2006,2006 Q4,4,2006,2019 Q3,...,2196.528996,0.655416,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,26,104,10180,"Abilene, TX",Industrial,2007,2007 Q4,4,2007,2019 Q3,...,2235.176336,0.658547,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,27,108,10180,"Abilene, TX",Industrial,2008,2008 Q4,4,2008,2019 Q3,...,2344.488870,0.672217,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,28,112,10180,"Abilene, TX",Industrial,2009,2009 Q4,4,2009,2019 Q3,...,2230.021576,0.675741,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,29,116,10180,"Abilene, TX",Industrial,2010,2010 Q4,4,2010,2019 Q3,...,2218.500151,0.665748,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16348,16348,64785,49740,"Yuma, AZ",Industrial,1993,1993 Q4,4,1993,2019 Q3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16349,16349,64789,49740,"Yuma, AZ",Industrial,1994,1994 Q4,4,1994,2019 Q3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16350,16350,64793,49740,"Yuma, AZ",Industrial,1995,1995 Q4,4,1995,2019 Q3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16351,16351,64797,49740,"Yuma, AZ",Industrial,1996,1996 Q4,4,1996,2019 Q3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16352,16352,64801,49740,"Yuma, AZ",Industrial,1997,1997 Q4,4,1997,2019 Q3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16353,16353,64805,49740,"Yuma, AZ",Industrial,1998,1998 Q4,4,1998,2019 Q3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16354,16354,64809,49740,"Yuma, AZ",Industrial,1999,1999 Q4,4,1999,2019 Q3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16355,16355,64813,49740,"Yuma, AZ",Industrial,2000,2000 Q4,4,2000,2019 Q3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16356,16356,64817,49740,"Yuma, AZ",Industrial,2001,2001 Q4,4,2001,2019 Q3,...,2031.984636,0.867726,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16357,16357,64821,49740,"Yuma, AZ",Industrial,2002,2002 Q4,4,2002,2019 Q3,...,2071.983648,0.875193,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16358,16358,64825,49740,"Yuma, AZ",Industrial,2003,2003 Q4,4,2003,2019 Q3,...,2115.792804,0.880599,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16359,16359,64829,49740,"Yuma, AZ",Industrial,2004,2004 Q4,4,2004,2019 Q3,...,2174.268257,0.848144,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16360,16360,64833,49740,"Yuma, AZ",Industrial,2005,2005 Q4,4,2005,2019 Q3,...,2185.059482,0.842113,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16361,16361,64837,49740,"Yuma, AZ",Industrial,2006,2006 Q4,4,2006,2019 Q3,...,2222.308970,0.814417,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16362,16362,64841,49740,"Yuma, AZ",Industrial,2007,2007 Q4,4,2007,2019 Q3,...,2140.685345,0.805602,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16363,16363,64845,49740,"Yuma, AZ",Industrial,2008,2008 Q4,4,2008,2019 Q3,...,2218.545924,0.837346,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16364,16364,64849,49740,"Yuma, AZ",Industrial,2009,2009 Q4,4,2009,2019 Q3,...,2319.949820,0.832534,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16365,16365,64853,49740,"Yuma, AZ",Industrial,2010,2010 Q4,4,2010,2019 Q3,...,2138.205490,0.790666,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16366,16366,64857,49740,"Yuma, AZ",Industrial,2011,2011 Q4,4,2011,2019 Q3,...,2075.922252,0.749785,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16367,16367,64861,49740,"Yuma, AZ",Industrial,2012,2012 Q4,4,2012,2019 Q3,...,2041.480461,0.718254,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16368,16368,64865,49740,"Yuma, AZ",Industrial,2013,2013 Q4,4,2013,2019 Q3,...,2004.113553,0.702392,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16369,16369,64869,49740,"Yuma, AZ",Industrial,2014,2014 Q4,4,2014,2019 Q3,...,2059.612126,0.685275,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16370,16370,64873,49740,"Yuma, AZ",Industrial,2015,2015 Q4,4,2015,2019 Q3,...,2126.095484,0.687589,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16371,16371,64877,49740,"Yuma, AZ",Industrial,2016,2016 Q4,4,2016,2019 Q3,...,2183.748239,0.685267,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16372,16372,64881,49740,"Yuma, AZ",Industrial,2017,2017 Q4,4,2017,2019 Q3,...,2204.748071,0.676947,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16373,16373,64885,49740,"Yuma, AZ",Industrial,2018,2018 Q4,4,2018,2019 Q3,...,2234.896974,0.667077,0.205499,0.014954,0.077183,0.082489,0.23589,0.196334,0.146647,0.041003
16374,16374,64889,49740,"Yuma, AZ",Industrial,2019,2019 Q4,4,2019,2019 Q3,...,NaN,0.664177,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16375,16375,64893,49740,"Yuma, AZ",Industrial,2020,2020 Q4,4,2020,2019 Q3,...,NaN,0.663876,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16376,16376,64897,49740,"Yuma, AZ",Industrial,2021,2021 Q4,4,2021,2019 Q3,...,NaN,0.663916,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16377,16377,64901,49740,"Yuma, AZ",Industrial,2022,2022 Q4,4,2022,2019 Q3,...,NaN,0.664081,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [83]:
# drop the unwanted columns and assign to a new data frame
cre_stats_labor3 = cre_stats_labor3.drop(columns = ['Unnamed: 0'])

In [85]:
save to csv
cre_stats_labor3.to_csv('cre_stats_labor3.csv')