In [1]:
import pandas as pd
import numpy as np

In [2]:
file1 = "cre_stats_data.csv"
file2 = 'labor_data.csv'

In [3]:
labor_data = pd.read_csv(file2)
labor_data.head()

,MSA,MSA Name,2001 Jobs,2002 Jobs,2003 Jobs,2004 Jobs,2005 Jobs,2006 Jobs,2007 Jobs,2008 Jobs,...,2028 Location Quotient,2029 Location Quotient,Age 45-54 % of Region,Age 14-18 % of Region,Age 19-21 % of Region,Age 22-24 % of Region,Age 25-34 % of Region,Age 35-44 % of Region,Age 55-64 % of Region,Age 65+ % of Region
0,35620,"New York-Newark-Jersey City, NY-NJ-PA",341351.923981,331989.441630,328235.533477,327854.161053,329210.188139,330215.030588,335000.980810,331294.867665,...,0.898985,0.897536,0.198594,0.020354,0.067333,0.085291,0.245226,0.187936,0.148148,0.047121
1,31080,"Los Angeles-Long Beach-Anaheim, CA",308832.247945,302561.185043,295121.609903,296917.665708,303190.252877,308991.792593,305598.619837,296033.603838,...,1.120333,1.117481,0.198321,0.014933,0.068881,0.085499,0.250735,0.200111,0.136229,0.045288
2,16980,"Chicago-Naperville-Elgin, IL-IN-WI",257587.748539,247920.850153,244149.724359,246288.482485,250022.755191,254970.189488,257803.911532,253471.031632,...,1.422678,1.423138,0.188951,0.029103,0.078967,0.085330,0.235536,0.189520,0.144756,0.047842
3,19100,"Dallas-Fort Worth-Arlington, TX",142986.323034,136961.350132,132569.110466,135288.003375,139858.373893,144705.079063,147249.136147,148162.286036,...,1.180633,1.180581,0.190785,0.026388,0.081579,0.087528,0.244737,0.199421,0.129211,0.040356
4,37980,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",121049.071284,117839.928018,118305.948225,119012.113767,119791.365177,121129.814163,121416.049783,120652.504806,...,1.007304,1.005578,0.191427,0.026768,0.077599,0.089332,0.240355,0.174473,0.154082,0.045964

In [4]:
cre_stats = pd.read_csv(file1)
cre_stats.head()

/anaconda3/envs/PythonData/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (37,40) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Property Class Name,Period,Slice,As Of,Geography Name,Property Type,Geography Code,Forecast Scenario,CBSA Code,Geography Type,...,Median Household Income,Total Employment,Households,Industrial Employment,Transaction Cap Rate,# Transaction Cap Rate,Transaction PricePerArea,Total Sales Volume,# Sales Volume,Sold Building SF
0,Industrial,1981 Q4,All,2019 Q3,Abilene - TX,IND,G41554,Oxford Economics Baseline,10180.0,Metro,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Industrial,1982 Q1,All,2019 Q3,Abilene - TX,IND,G41554,Oxford Economics Baseline,10180.0,Metro,...,NaN,NaN,"50,890",NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Industrial,1982 Q2,All,2019 Q3,Abilene - TX,IND,G41554,Oxford Economics Baseline,10180.0,Metro,...,NaN,NaN,"51,427",NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Industrial,1982 Q3,All,2019 Q3,Abilene - TX,IND,G41554,Oxford Economics Baseline,10180.0,Metro,...,NaN,NaN,"51,962",NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Industrial,1982 Q4,All,2019 Q3,Abilene - TX,IND,G41554,Oxford Economics Baseline,10180.0,Metro,...,NaN,NaN,"52,271",NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
city_state = cre_stats['Geography Name'].to_list()
city_state[1827].split("-")[0]

'Ann Arbor '

In [6]:
city_state[1]

'Abilene - TX'

In [7]:
import re
city_list= []

for i in city_state:
    k = re.split(" - ", i)[0].split('-')[0]
    city_list.append(k)

In [8]:
state_list = []
for i in city_state:
    k = i.split(' ')[-1]
    state_list.append(k)

In [9]:
city_list[1827]

'Ann Arbor'

In [10]:
print(len(city_list), len(state_list))

64903 64903

In [11]:
city_list[26057]

'Honolulu'

In [12]:
state_list[26057]

'HI'

In [13]:
MSA_name = labor_data['MSA Name']
MSA = labor_data['MSA']
MSA_city =[]
MSA_state = []
for i in MSA_name:
    MSA_city.append(i.split(",")[0])
    MSA_state.append(i.split(",")[1])

In [14]:
MSA_city_list = []
for i in MSA_city:
    MSA_city_list.append(i.split("-"))

In [15]:
MSA_name[0]

'New York-Newark-Jersey City, NY-NJ-PA'

In [16]:
MSA_state_list =[]


for i in MSA_state:
    MSA_state_list.append(i.split(' ')[1].split('-'))

MSA_state_list

[['NY', 'NJ', 'PA'],
 ['CA'],
 ['IL', 'IN', 'WI'],
 ['TX'],
 ['PA', 'NJ', 'DE', 'MD'],
 ['GA'],
 ['FL'],
 ['MA', 'NH'],
 ['TX'],
 ['MI'],
 ['CA'],
 ['DC', 'VA', 'MD', 'WV'],
 ['WA'],
 ['MN', 'WI'],
 ['AZ'],
 ['CA'],
 ['OH'],
 ['CA'],
 ['OH', 'KY', 'IN'],
 ['FL'],
 ['IN'],
 ['MO', 'IL'],
 ['TN', 'MS', 'AR'],
 ['OH'],
 ['MD'],
 ['NC', 'SC'],
 ['CO'],
 ['PA'],
 ['CA'],
 ['TN'],
 ['MO', 'KS'],
 ['OR', 'WA'],
 ['WI'],
 ['CA'],
 ['KY', 'IN'],
 ['FL'],
 ['RI', 'MA'],
 ['TX'],
 ['NV'],
 ['VA', 'NC'],
 ['MI'],
 ['VA'],
 ['LA'],
 ['FL'],
 ['CT'],
 ['UT'],
 ['OH'],
 ['OK'],
 ['NC'],
 ['NY'],
 ['TX'],
 ['AL'],
 ['OH'],
 ['NE', 'IA'],
 ['NY'],
 ['SC'],
 ['NC'],
 ['CT'],
 ['MA', 'CT'],
 ['PA', 'NJ'],
 ['PA'],
 ['OH'],
 ['TN'],
 ['WI'],
 ['CT'],
 ['LA'],
 ['OK'],
 ['AR'],
 ['CA'],
 ['NC'],
 ['PA'],
 ['HI'],
 ['NY'],
 ['SC'],
 ['CA'],
 ['PA'],
 ['FL'],
 ['MA'],
 ['TX'],
 ['NY'],
 ['KY'],
 ['IA'],
 ['NM'],
 ['PA'],
 ['OH', 'PA'],
 ['CA'],
 ['TN', 'GA'],
 ['AZ'],
 ['KS'],
 ['MI'],
 ['NC'],
 ['SC'],
 ['IL'],
 ['NV'],
 ['IN'],
 ['NC'],
 ['FL'],
 ['CA'],
 ['ME'],
 ['NY'],
 ['UT'],
 ['PA'],
 ['MS'],
 ['IA', 'IL'],
 ['GA', 'SC'],
 ['ID'],
 ['CA'],
 ['OH'],
 ['CO'],
 ['IN', 'KY'],
 ['NH'],
 ['LA'],
 ['CA'],
 ['AR'],
 ['WA'],
 ['TX'],
 ['NJ'],
 ['SC'],
 ['IL'],
 ['AL'],
 ['VA'],
 ['AL'],
 ['NC'],
 ['MO'],
 ['AL'],
 ['FL'],
 ['CA'],
 ['MI'],
 ['GA'],
 ['CA'],
 ['LA'],
 ['WI'],
 ['CA'],
 ['CA'],
 ['IN', 'MI'],
 ['IN'],
 ['FL'],
 ['MI'],
 ['CO'],
 ['UT'],
 ['GA', 'AL'],
 ['NC'],
 ['FL'],
 ['TN', 'VA'],
 ['WV', 'KY', 'OH'],
 ['PA'],
 ['AK'],
 ['GA'],
 ['TX'],
 ['MI'],
 ['FL'],
 ['MD', 'DE'],
 ['WI'],
 ['FL'],
 ['MS'],
 ['MN'],
 ['OR'],
 ['NE'],
 ['NY'],
 ['TX'],
 ['WA'],
 ['TX'],
 ['OR'],
 ['TX'],
 ['TX'],
 ['TX'],
 ['LA'],
 ['IL'],
 ['WV'],
 ['IA'],
 ['AR', 'OK'],
 ['MD', 'WV'],
 ['NJ'],
 ['WI'],
 ['WI'],
 ['MS'],
 ['VA'],
 ['NY'],
 ['SD'],
 ['FL'],
 ['WI'],
 ['ND', 'MN'],
 ['GA'],
 ['CO'],
 ['CA'],
 ['IL'],
 ['GA'],
 ['NC'],
 ['LA'],
 ['SC', 'NC'],
 ['CT'],
 ['TX'],
 ['GA'],
 ['VT'],
 ['WI'],
 ['KS'],
 ['IL'],
 ['FL'],
 ['NC'],
 ['IN'],
 ['TN'],
 ['TX'],
 ['NC'],
 ['SC'],
 ['OH'],
 ['MN', 'WI'],
 ['IA', 'NE', 'SD'],
 ['TN', 'KY'],
 ['IA'],
 ['FL'],
 ['TX'],
 ['CA'],
 ['OR'],
 ['WA'],
 ['FL'],
 ['LA'],
 ['MI'],
 ['TX'],
 ['KY'],
 ['MO'],
 ['FL'],
 ['NH', 'VT'],
 ['WI'],
 ['MN'],
 ['CA'],
 ['MA'],
 ['AL'],
 ['NJ'],
 ['IN'],
 ['WI'],
 ['WA'],
 ['WI', 'MN'],
 ['AL'],
 ['IL'],
 ['TN'],
 ['VA', 'WV'],
 ['MI'],
 ['IN'],
 ['GA'],
 ['PA'],
 ['MI'],
 ['OH'],
 ['TN'],
 ['WA'],
 ['CT'],
 ['IL'],
 ['MO'],
 ['GA', 'AL'],
 ['OH'],
 ['TX'],
 ['TX', 'AR'],
 ['PA'],
 ['CA'],
 ['OH'],
 ['MT'],
 ['PA'],
 ['GA'],
 ['OH'],
 ['MS'],
 ['AL'],
 ['CA'],
 ['VA'],
 ['TN'],
 ['WA'],
 ['WA'],
 ['MI'],
 ['VA'],
 ['VA'],
 ['MO', 'KS'],
 ['NH'],
 ['CA'],
 ['WV', 'OH'],
 ['IA'],
 ['IN'],
 ['OH'],
 ['NY'],
 ['IN'],
 ['ME'],
 ['PA'],
 ['PA'],
 ['CO'],
 ['MA'],
 ['MN'],
 ['TX'],
 ['NC'],
 ['VA'],
 ['WI'],
 ['NC'],
 ['SC'],
 ['PA'],
 ['FL'],
 ['IN'],
 ['KY'],
 ['AZ'],
 ['SC'],
 ['MO'],
 ['ND'],
 ['CA'],
 ['VA'],
 ['CO'],
 ['MS'],
 ['KY', 'IL'],
 ['AL'],
 ['DE'],
 ['MI'],
 ['PA'],
 ['MI'],
 ['OH'],
 ['NC'],
 ['LA'],
 ['HI'],
 ['MI'],
 ['VA'],
 ['IL'],
 ['ME'],
 ['NC'],
 ['GA'],
 ['MI'],
 ['NC'],
 ['ME'],
 ['AL'],
 ['ND', 'MN'],
 ['NY'],
 ['NY'],
 ['GA'],
 ['NC'],
 ['WA'],
 ['CA'],
 ['AZ'],
 ['TN'],
 ['NY'],
 ['OR'],
 ['KS'],
 ['PA'],
 ['IL'],
 ['IN'],
 ['KY'],
 ['WI'],
 ['KY'],
 ['IN'],
 ['HI'],
 ['TX'],
 ['TX'],
 ['IA'],
 ['NM'],
 ['AR'],
 ['WI'],
 ['TX'],
 ['WI'],
 ['NC'],
 ['CA'],
 ['PA'],
 ['AL'],
 ['ID'],
 ['AR'],
 ['ID'],
 ['WV'],
 ['SC'],
 ['IA'],
 ['SD'],
 ['FL'],
 ['OH'],
 ['MO', 'IL'],
 ['WV', 'OH'],
 ['TN'],
 ['AL'],
 ['NC'],
 ['IN'],
 ['OH'],
 ['CO'],
 ['AL'],
 ['WA'],
 ['OR'],
 ['PA'],
 ['AR'],
 ['IL'],
 ['IL'],
 ['FL'],
 ['OR'],
 ['AZ'],
 ['NY'],
 ['OH'],
 ['WA'],
 ['TN'],
 ['WI'],
 ['GA'],
 ['WV', 'VA'],
 ['KS'],
 ['LA'],
 ['UT'],
 ['MT'],
 ['ID'],
 ['CA'],
 ['AL'],
 ['NC'],
 ['IN'],
 ['UT', 'ID'],
 ['TX'],
 ['AZ'],
 ['NY'],
 ['WI'],
 ['OH'],
 ['MI'],
 ['MD', 'WV'],
 ['OH'],
 ['OH'],
 ['CA'],
 ['GA'],
 ['OH'],
 ['NM'],
 ['NC'],
 ['OK'],
 ['WI'],
 ['PA'],
 ['NE'],
 ['AL'],
 ['GA'],
 ['PA'],
 ['MI'],
 ['MS'],
 ['IL', 'MO'],
 ['TX'],
 ['OR'],
 ['NY'],
 ['TX'],
 ['NJ'],
 ['NH'],
 ['WV'],
 ['TX'],
 ['AR'],
 ['CA'],
 ['SC'],
 ['KY'],
 ['AL'],
 ['WI'],
 ['KS'],
 ['IN'],
 ['OH'],
 ['OH'],
 ['OK'],
 ['OK'],
 ['NY'],
 ['MI'],
 ['WV'],
 ['NC'],
 ['PA'],
 ['MS'],
 ['NC'],
 ['NE'],
 ['IN'],
 ['IL'],
 ['LA'],
 ['PA'],
 ['WY'],
 ['AZ'],
 ['SC'],
 ['WV'],
 ['GA'],
 ['ID'],
 ['NC'],
 ['AR'],
 ['NM'],
 ['KY'],
 ['MS'],
 ['IL'],
 ['IN'],
 ['AR'],
 ['GA'],
 ['SC'],
 ['NY'],
 ['KY'],
 ['NC'],
 ['WY'],
 ['MI'],
 ['TN'],
 ['PA'],
 ['IN'],
 ['TN'],
 ['WA'],
 ['GA'],
 ['NH'],
 ['PA'],
 ['KS'],
 ['IA'],
 ['AK'],
 ['MT'],
 ['MT'],
 ['IL'],
 ['IN'],
 ['TN'],
 ['IA', 'IL'],
 ['IL'],
 ['FL'],
 ['AR'],
 ['FL'],
 ['OR'],
 ['CA'],
 ['WI', 'MI'],
 ['IN'],
 ['WI'],
 ['IA'],
 ['OH'],
 ['NC'],
 ['NC'],
 ['MT'],
 ['IN'],
 ['NY'],
 ['NY'],
 ['GA'],
 ['MI'],
 ['NC'],
 ['NY'],
 ['OH'],
 ['AL'],
 ['NY'],
 ['TN'],
 ['AL'],
 ['VT'],
 ['MO'],
 ['PA'],
 ['NY'],
 ['OH'],
 ['NV'],
 ['MN'],
 ['CA'],
 ['MD'],
 ['MS'],
 ['ID', 'WA'],
 ['ND'],
 ['PA'],
 ['MN'],
 ['OH'],
 ['AR'],
 ['VT'],
 ['OK'],
 ['MI'],
 ['MS'],
 ['NE'],
 ['AZ'],
 ['IA', 'IL', 'MO'],
 ['OK'],
 ['OR'],
 ['FL'],
 ['MS'],
 ['KS'],
 ['GA'],
 ['TN'],
 ['NM'],
 ['MN'],
 ['OR', 'ID'],
 ['GA'],
 ['PA'],
 ['IN'],
 ['IN'],
 ['TX'],
 ['IA'],
 ['AL'],
 ['OH'],
 ['OH'],
 ['NE'],
 ['TN'],
 ['PA'],
 ['OH'],
 ['MI'],
 ['IL'],
 ['NE'],
 ['OH'],
 ['OK'],
 ['PA'],
 ['NC'],
 ['GA'],
 ['NC'],
 ['NC'],
 ['NY'],
 ['HI'],
 ['MN'],
 ['SD'],
 ['IL'],
 ['TX'],
 ['AL'],
 ['IA'],
 ['GA'],
 ['LA'],
 ['IA'],
 ['KY'],
 ['AZ'],
 ['TX'],
 ['SC'],
 ['WA'],
 ['MT'],
 ['FL'],
 ['OK'],
 ['TX'],
 ['ID'],
 ['MO'],
 ['IN'],
 ['KS'],
 ['NM'],
 ['CO'],
 ['NC'],
 ['OR'],
 ['KS'],
 ['KY'],
 ['NV'],
 ['OH'],
 ['TN'],
 ['ID'],
 ['MO'],
 ['OR'],
 ['TN'],
 ['MS'],
 ['MI'],
 ['MS'],
 ['IA'],
 ['AR'],
 ['WA'],
 ['IN'],
 ['NY'],
 ['KY'],
 ['VT'],
 ['TX'],
 ['MN'],
 ['IN'],
 ['NY'],
 ['IL'],
 ['WA'],
 ['AL'],
 ['MI'],
 ['MS'],
 ['OH'],
 ['NC'],
 ['NC'],
 ['OH'],
 ['MN'],
 ['MN'],
 ['PA'],
 ['WY'],
 ['AR'],
 ['IN'],
 ['GA'],
 ['NM'],
 ['GA'],
 ['IL'],
 ['SD'],
 ['SD'],
 ['KY'],
 ['KS'],
 ['MN'],
 ['OH'],
 ['TN'],
 ['WV', 'OH'],
 ['MD'],
 ['MO'],
 ['IN'],
 ['ID'],
 ['OH'],
 ['SC'],
 ['MO'],
 ['AL'],
 ['AR'],
 ['TN'],
 ['KY'],
 ['MN'],
 ['FL'],
 ['MS', 'LA'],
 ['PA'],
 ['TN'],
 ['KY'],
 ['NM'],
 ['TX'],
 ['MS'],
 ['MD'],
 ['IA'],
 ['NE'],
 ['MO'],
 ['IN'],
 ['OK'],
 ['AL'],
 ['WV'],
 ['MI', 'WI'],
 ['WI'],
 ['OK'],
 ['GA'],
 ['VA'],
 ['IN'],
 ['OK'],
 ['TX'],
 ['MS'],
 ['FL'],
 ['NE'],
 ['MN'],
 ['MO'],
 ['TX'],
 ['IL'],
 ['OH'],
 ['MN'],
 ['OH'],
 ['CO'],
 ['TX'],
 ['GA'],
 ['SC'],
 ['MN'],
 ['TX'],
 ['TX'],
 ['GA'],
 ['LA'],
 ['LA'],
 ['KS'],
 ['MI'],
 ['GA'],
 ['KY'],
 ['KS'],
 ['NV'],
 ['PA'],
 ['NV'],
 ['AR'],
 ['NM'],
 ['MS'],
 ['IA'],
 ['TX'],
 ['AR'],
 ['GA'],
 ['MI'],
 ['MN'],
 ['KS'],
 ['LA'],
 ['TN'],
 ['NC'],
 ['SD'],
 ['PA'],
 ['MO'],
 ['NC'],
 ['OH'],
 ['WA'],
 ['SD'],
 ['NM'],
 ['MN'],
 ['TX'],
 ['OH'],
 ['IL'],
 ['SC'],
 ['MS'],
 ['IN'],
 ['GA'],
 ['WY'],
 ['IA'],
 ['AL', 'GA'],
 ['IN'],
 ['LA'],
 ['MN'],
 ['WV'],
 ['OR'],
 ['MI'],
 ['OK'],
 ['OK'],
 ['IN'],
 ['WA'],
 ['TX'],
 ['MI'],
 ['TX'],
 ['NE'],
 ['OK'],
 ['KY'],
 ['CO'],
 ['MO'],
 ['ID'],
 ['GA'],
 ['CO'],
 ['AZ'],
 ['IN'],
 ['OR'],
 ['TX'],
 ['GA'],
 ['NH'],
 ['KY'],
 ['MO'],
 ['CA'],
 ['NY'],
 ['KS'],
 ['KY'],
 ['MI'],
 ['CA'],
 ['WV'],
 ['OH'],
 ['IN'],
 ['WI'],
 ['IL'],
 ['UT'],
 ['IN'],
 ['UT'],
 ['NE'],
 ['WY', 'ID'],
 ['TX'],
 ['CO'],
 ['MO'],
 ['GA'],
 ['AL'],
 ['WA'],
 ['AR'],
 ['GA'],
 ['WA'],
 ['MT'],
 ['MS'],
 ['FL'],
 ['TX'],
 ['TN'],
 ['MO'],
 ['TX'],
 ['LA'],
 ['IL'],
 ['TX'],
 ['KY'],
 ['AL'],
 ['ND', 'MN'],
 ['MS'],
 ['AR'],
 ['GA'],
 ['OK'],
 ['PA'],
 ['TX'],
 ['NM'],
 ['NE'],
 ['MO'],
 ['OK'],
 ['MI'],
 ['OR'],
 ['NC'],
 ['MS'],
 ['AR'],
 ['MO'],
 ['MN'],
 ['OK'],
 ['MI'],
 ['WA'],
 ['IA'],
 ['KS'],
 ['KS'],
 ['OK'],
 ['AR'],
 ['KS'],
 ['NY'],
 ['AK'],
 ['IA'],
 ['WY'],
 ['UT'],
 ['TX'],
 ['KS'],
 ['UT'],
 ['TX'],
 ['MO'],
 ['MN'],
 ['NV'],
 ['TX'],
 ['IA'],
 ['MO'],
 ['LA'],
 ['CO'],
 ['WY'],
 ['TN'],
 ['OR'],
 ['FL'],
 ['ND'],
 ['FL'],
 ['FL'],
 ['TX'],
 ['SD'],
 ['IL'],
 ['IA'],
 ['WY'],
 ['AK'],
 ['TX'],
 ['CO'],
 ['TX'],
 ['OR'],
 ['ID'],
 ['ND'],
 ['MO'],
 ['NM'],
 ['AR'],
 ['ND'],
 ['CA'],
 ['SD'],
 ['ID'],
 ['LA'],
 ['OK'],
 ['NM'],
 ['TX'],
 ['OK'],
 ['SD'],
 ['ID'],
 ['CO'],
 ['KS'],
 ['NM'],
 ['NM'],
 ['MA'],
 ['NV'],
 ['TX'],
 ['AZ'],
 ['OR'],
 ['TX'],
 ['TX'],
 ['TX'],
 ['CA'],
 ['TX'],
 ['TX'],
 ['WY'],
 ['TX'],
 ['NM'],
 ['NV'],
 ['NM'],
 ['NM'],
 ['CO'],
 ['TX'],
 ['SD'],
 ['OR'],
 ['TX'],
 ['TX'],
 ['TX'],
 ['TX'],
 ['NM'],
 ['TX'],
 ['CO'],
 ['TX'],
 ['TX'],
 ['TX'],
 ['TX']]

In [17]:
ml = len(MSA_state_list)

In [18]:
cl = len(city_list)

In [20]:
a = [[]]*cl
b = [[]]*cl

for i in np.arange(cl):
    for j in np.arange(ml):
        if city_list[i] in MSA_city_list[j] and state_list[i] in MSA_state_list[j]:
            a[i] = MSA_name[j]
            b[i] = MSA[j]
        elif city_list[i]=='Boise' and state_list[i]=='ID':
            a[i] = 'Boise City, ID'
            b[i] = 14260
        elif city_list[i]=='Honolulu' and state_list[i]=='HI':
            a[i] = 'Urban Honolulu, HI'
            b[i] = 46520
        elif city_list[i]=='Lake Havasu' and state_list[i]=='AZ':
            a[i] = 'Lake Havasu City-Kingman, AZ'
            b[i] = 29420
        elif city_list[i]=='Lake Havasu' and state_list[i]=='AZ':
            a[i] = 'Lake Havasu City-Kingman, AZ'
            b[i] = 29420
        elif city_list[i]=='Long Island' and state_list[i]=='NY':
            a[i] = 'New York-Newwark-Jersey City, NY-NJ-PA'
            b[i] = 35620
        elif city_list[i]=='Louisville' and state_list[i]=='KY':
            a[i] = 'Louisville/Jefferson County, KY-IN'
            b[i] = 31140
        elif city_list[i]=='Northern Jersey City' and state_list[i]=='NJ':
            a[i] = 'New York-Newwark-Jersey City, NY-NJ-PA'
            b[i] = 35620
        elif city_list[i]=='Palm Spring' and state_list[i]=='FL':
            a[i] = 'Miami_Fort Lauderdale-Pompano, FL'
            b[i] = 33100
        elif city_list[i]=='Saint Louis' and state_list[i]=='MO':
            a[i] = 'St. Louis, MO-IL'
            b[i] = 41180

In [21]:
cre_stats["MSA Name"]= a
cre_stats["MSA"]= b

In [22]:
new_cres_stats = cre_stats[["MSA", "MSA Name", 'Property Class Name', 'Period', 'Slice', 'As Of', 'Geography Name',
                           'Property Type', 'Geography Code','Forecast Scenario', 'CBSA Code','Geography Type',
                           'Stock', 'Vacancy','Occupancy','Asking Rent','Asking Rent Index',
                           'Rent Growth','Rent Growth 12 Month','Demand','Net Absorption','Net Absorption 12 Months',
                           'Net Completions 12 Months','Cap Rate','Total Return',
 'Appreciation Return',
 'Income Return',
 'NOI Index',
 'Capital Value Index',
 'Price Index',
 'Price Growth',
 'Market Capitalization',
 'Office Employment',
 'Population',
 'Median Household Income',
 'Total Employment ',
 'Households',
 'Industrial Employment',
 'Transaction Cap Rate',
 '# Transaction Cap Rate',
 'Transaction PricePerArea',
 'Total Sales Volume',
 '# Sales Volume',
 'Sold Building SF',]]

In [ ]:
cre_stats

In [23]:
new_cres_stats.head()

,MSA,MSA Name,Property Class Name,Period,Slice,As Of,Geography Name,Property Type,Geography Code,Forecast Scenario,...,Median Household Income,Total Employment,Households,Industrial Employment,Transaction Cap Rate,# Transaction Cap Rate,Transaction PricePerArea,Total Sales Volume,# Sales Volume,Sold Building SF
0,10180,"Abilene, TX",Industrial,1981 Q4,All,2019 Q3,Abilene - TX,IND,G41554,Oxford Economics Baseline,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10180,"Abilene, TX",Industrial,1982 Q1,All,2019 Q3,Abilene - TX,IND,G41554,Oxford Economics Baseline,...,NaN,NaN,"50,890",NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10180,"Abilene, TX",Industrial,1982 Q2,All,2019 Q3,Abilene - TX,IND,G41554,Oxford Economics Baseline,...,NaN,NaN,"51,427",NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10180,"Abilene, TX",Industrial,1982 Q3,All,2019 Q3,Abilene - TX,IND,G41554,Oxford Economics Baseline,...,NaN,NaN,"51,962",NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10180,"Abilene, TX",Industrial,1982 Q4,All,2019 Q3,Abilene - TX,IND,G41554,Oxford Economics Baseline,...,NaN,NaN,"52,271",NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
new_cres_stats.to_csv('new_cre_stats_data2.csv')

In [37]:
# take q1, q2, q3 data out
import re

new_cres_stats2 = new_cres_stats[new_cres_stats.Period.str[6] == '4']
new_cres_stats2.head()

,MSA,MSA Name,Property Class Name,Period,Slice,As Of,Geography Name,Property Type,Geography Code,Forecast Scenario,...,Median Household Income,Total Employment,Households,Industrial Employment,Transaction Cap Rate,# Transaction Cap Rate,Transaction PricePerArea,Total Sales Volume,# Sales Volume,Sold Building SF
0,10180,"Abilene, TX",Industrial,1981 Q4,All,2019 Q3,Abilene - TX,IND,G41554,Oxford Economics Baseline,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10180,"Abilene, TX",Industrial,1982 Q4,All,2019 Q3,Abilene - TX,IND,G41554,Oxford Economics Baseline,...,NaN,NaN,"52,271",NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,10180,"Abilene, TX",Industrial,1983 Q4,All,2019 Q3,Abilene - TX,IND,G41554,Oxford Economics Baseline,...,NaN,NaN,"53,348",NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,10180,"Abilene, TX",Industrial,1984 Q4,All,2019 Q3,Abilene - TX,IND,G41554,Oxford Economics Baseline,...,"28,626",NaN,"53,918",NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,10180,"Abilene, TX",Industrial,1985 Q4,All,2019 Q3,Abilene - TX,IND,G41554,Oxford Economics Baseline,...,"30,105",NaN,"54,444",NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
# take "United States of America" rows out, create a new dataframe new_cres_stats3
new_cres_stats3 = new_cres_stats2[new_cres_stats2['Geography Name'] != "United States of America"]
new_cres_stats3.to_csv('new_cre_stats_data3.csv')

In [54]:
# creat year column
year_q = new_cres_stats3['Period'].to_list()
year_list = []
for i in year_q:
    year_list.append(i.split(' ')[0])

In [55]:
# assiagn year list to the 'year column in new_cres_stats3'

new_cres_stats3['year'] = year_list

In [58]:
new_cres_stats3 = new_cres_stats3[['MSA',
 'MSA Name',
 'Property Class Name',
 'year','Period',
 'Slice', 'As Of',
 'Geography Name',
 'Property Type',
 'Geography Code',
 'Forecast Scenario',
 'CBSA Code',
 'Geography Type',
 'Stock',
 'Vacancy',
 'Occupancy',
 'Asking Rent',
 'Asking Rent Index',
 'Rent Growth',
 'Rent Growth 12 Month',
 'Demand',
 'Net Absorption',
 'Net Absorption 12 Months',
 'Net Completions 12 Months',
 'Cap Rate',
 'Total Return',
 'Appreciation Return',
 'Income Return',
 'NOI Index',
 'Capital Value Index',
 'Price Index',
 'Price Growth',
 'Market Capitalization',
 'Office Employment',
 'Population',
 'Median Household Income',
 'Total Employment ',
 'Households',
 'Industrial Employment',
 'Transaction Cap Rate',
 '# Transaction Cap Rate',
 'Transaction PricePerArea',
 'Total Sales Volume',
 '# Sales Volume',
 'Sold Building SF']]

In [59]:
new_cres_stats3.to_csv('new_cre_stats_data3.csv')